@tailwind base;
@tailwind components;
@tailwind utilities;

.header-right {
    display: flex;
    justify-content: center;
}
footer{
    @apply bg-green-900 text-center py-2 text-white;
}
@media screen and (max-width:1140px) {
    .container {
        flex-direction: column;
    }
}

