@tailwind base;
@tailwind components;
@tailwind utilities;


/* global variable for color */
/* .yellow{
        rgb(234, 179, 8)
    } 
    .gray{  
        rgb(75, 85, 99)
    }
*/


/* For Header */
.header-right {
    display: flex;
    justify-content: center;
}


/* For Banner */
@media (min-width: 768px){
    .bannerTitleLg{
        position: absolute;
        top: 166px;
    }
}


/* For Write Page */
.writeIcon{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


/* For login page */
.login{
    background-image: url("https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}


/* For Register Page */
.register{
    background-image: url("https://images.pexels.com/photos/4386466/pexels-photo-4386466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}


@media screen and (max-width:1140px) {
    .footer {
        flex-direction: column;
    }
}



/* For category page */
td{
    border: 1px solid gray;
    padding: 5px 15px;
}
thead{
    font-weight: bold;
    border: 0;
}
thead tr td:first-child{
    border-top-left-radius: 10px;
}
thead tr td:last-child{
    border-top-right-radius: 10px;
}
tbody tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}
tbody tr:last-child td:first-child{
    border-bottom-right-radius: 10px;
}

.button{
    padding: 5px 10px;
    color: white;
}
.update{
    @apply bg-yellow-500 hover:bg-yellow-400
    active:bg-red-700;
}
.delete{
    @apply bg-red-500 hover:bg-red-400
    active:bg-blue-700;
}
.add{
    @apply bg-gray-500 hover:bg-gray-400
    active:bg-green-700;
}




/* For Admin Profile Page */

.adminprofile-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 25vh 25vh ;
}
.box1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:2 ;
}
.box2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:3 ;
}
.box5{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2 ;
}
.box4{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:3 ;
}
.box6{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:1 ;
}
.box7{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start:4 ;
}





/* css globally */
:root {
    --icon-color: #ffa500;
}

.icon-bg {
    background-color: var(--icon-color);
}
