@tailwind base;
@tailwind components;
@tailwind utilities;

.header-right {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px){
    .bannerTitleLg{
        position: absolute;
        top: 166px;
    }
}



.writeIcon{
    width: 30px;
    height: 30px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.login{
    background-image: url("https://images.pexels.com/photos/1166643/pexels-photo-1166643.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    /* object-fit: cover; */
}
.register{
    background-image: url("https://images.pexels.com/photos/4386466/pexels-photo-4386466.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}


@media screen and (max-width:1140px) {
    .footer {
        flex-direction: column;
    }
}

